.temp_div {
    width: 170px;
    height: 100px;
    background-color: #922FFB;
    color: #282c34;
    border-radius: 25px;
    overflow:hidden;
}

.rtt_container {
    padding-left: 100px;
    padding-right:100px;
    margin: 100px;
    height: 600px;
    overflow: hidden;
}

.progress {
    width: 82%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .node_text {
      fill: #22D970;
  }

  .node_box {
    stroke: #922FFB;
    fill: #22D970;
    stroke-width: 2px;
  }

  .single_network_line {
    stroke: #922FFB;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }

  #spinner_under {
    stroke: #922FFB;
    fill:none;
    stroke-miterlimit: 10;
    stroke-width: 20px;
  }
  #spinner_upper {
    stroke: #1A212B;
    fill:none;
    stroke-miterlimit: 10;
    stroke-width: 15px;
  }

  .button{
    font-size: 16px;
    font-weight:bold;
  }
  .button_run_rtt {
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #1A212B;
    border-radius: 16px;
    border: 3px solid #1A212B;
  }
  
  .button_run_rtt:hover {
    background-color: #922FFB;
    color: #282c34;
    border: 3px solid #9262FB;
    cursor: pointer;
  }
