.static_node{
  width: 130px;
  height: 50px;
  background-color: #922FFB;
  color: #282c34;
  position: relative;
  left: -300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 25px;
}

#spinner_1, #spinner_2, #spinner_3{
  width: 26px;
  height: 26px;
  border: 10px solid #1A212B;
  border-top-color: #40F78F;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 45px;
  top: 2px;
  margin-top: 20px;
  vertical-align: middle;
  
}




 


  

  


  