
.hourglass_color {
    fill: #922FFB;
}

.sand {
    fill: #22D970;
}

.hourglass_container {
    width:40px;
    padding: 0px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right:400px;
}
