.sim_control{
    position:relative
}

.time_server {
    width: 170px;
    height: 100px;
    background-color: #22D970;
    outline-color: aqua;
    outline-width: 2px;
    color: #282c34;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 10px;
  }

  .node{
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #922FFB;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 25px;
  }

  hr.coolLine{
    border-top: 1px solid #572DFB;
    width: 720px;
  }

  .time{
      color: #fff;
  }