.sim_control{
    position:relative
}

.time_server {
    width: 170px;
    height: 100px;
    right: 200px;
    background-color: #22D970;
    color: #282c34;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 10px;
  }

  .node{
    width: 170px;
    height: 100px;
    left: 100px;
    background-color: #922FFB;
    color: #282c34;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 10px;
  }

  .commSignal{
    width: 20px;
    height: 20px;
    background-color: #22D970;
    position: absolute;
    left: -250px;
    top: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 25px;
  }

  hr.coolLine{
    border-top: 1px solid #572DFB;
    width: 720px;
  }

  .time{
      color: #fff;
  }