
.App {
  text-align: center;
}

.flex-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
  list-style: none;
  /**border: 1px solid silver;**/
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}  

.title {
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 15em;
  margin-right: 15em;
}

.subtitles {
  padding-top: 50px;
  margin-left: 100px;
  margin-right:100px;
}

.writing {
  align-items:left;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 8em;
  margin-right: 8em;
  text-align:left;
}

h3 {
  color: #84F7AE;
  font-size: x-large;

}

.graph {
  padding: 100px;
  margin-left: 50px;
  margin-right:50px;
}

.token {
  padding-left: 100px;
  padding-right:100px;
  margin-left: 200px;
  margin-right:200px;
}

.hourglass {
  padding: 0px;
  margin-left: 300px;
  margin-right:300px;
  overflow:hidden;
}

.game_1 {
  padding: 0px;
  margin-left: 50px;
  margin-right:50px;
  overflow: hidden;
}

.simulation {
  padding-left: 5em;
  padding-right: 5em;
  margin-left: 5em;
  margin-right: 5em;
}


.flex-item {
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}


header {
  font-size: calc(10px + 2vmin);
  color: #40F78F;
}



body {
  background: #1A212B;
}


hr#coolLine{
  border-top: 1px solid #572DFB;
  width: 720px;
  margin-right:200px;
  margin-left:200px;
}

