.box {
    width: 130px;
    height: 100px;
    background-color: #42b0f5;
    color: #282c34;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 25px;
  }

  .master_box{
    width: 135px;
    height: 105px;
    background-color: #e8b762;
    color: #282c34;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 25px;
  }
  