
.box_1 {
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #282c34;
    margin-bottom: 25px;
    border-radius: 25px;
  }

  .box_2 {
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #282c34;
    margin-bottom: 25px;
    border-radius: 25px;
  }

  .box_3 {
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #282c34;
    margin-bottom: 25px;
    border-radius: 25px;
  }
  .box_4 {
    width: 130px;
    height: 50px;
    background-color: #922FFB;
    color: #282c34;
    margin-bottom: 25px;
    border-radius: 25px;
  }

  .master_box {
    width: 170px;
    height: 100px;
    background-color: #22D970;
    outline-color: aqua;
    outline-width: 2px;
    color: #282c34;
    border-radius: 10px;
  }

 .game_environment {
   justify-content: flex-start;
 }

  