.sensor_line {
    width: 10px;
    height: 600px;
    background-color: #8ce46e;
    color: #282c34;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 25px;
  }