  .h1 {
    font-size: calc(50px + 2vmin);
    color: #40F78F;
  }

  .instructions {
    padding-top:50px;
    font-size: calc(8px + 2vmin);
    color: #922FFB;
  }

  hr.coolLine{
    border-top: 1px solid #572DFB;
    width: 720px;
  }

  .game_container {
    padding-top:30px;
    padding-bottom:70px;
  }